<!DOCTYPE html>
<html>
<head>
	<title>User Login</title>
</head>
<body>
	{{ render_form(form, "Register", "/register", "post") }}
	<form action="/register" method="post">
		<p><label>email: <input type="text" name="email" /></label></p>
		<p><label>Password: <input type="password" name="password" /></label></p>
		<p><label>Confirm password: <input type="password" name="confirm_password" /></label></p>
		<p><label>first: <input type="text" name="first" /></label></p>
		<p><label>last: <input type="text" name="last" /></label></p>
		<input type="submit" value="register"/>
	</form>
</body>
</html>
